body{
    background-color: #021740; 
    color: white;
}
p{
    display: flex;
    color: white;
}
h2{
    text-indent: 43px;
}
.intern {
    background-color:rgb(21, 21, 88);
    display: flex;
}
.a1{
    display: flex;
}
.entete{
    display: flex;
}
.A3{
    display: flex;
}
.b4{
    background-color: aliceblue;
    color: black;
}
main{
    text-align: center;
}
.b6{
    display:-webkit-flex;
}
input{
    width: 520px;
height:56;
border-bottom:38;
}
a{
    color: white;
}
section{
    color: rgb(200, 171, 228);
}
.MA1{
    display: flex;
    position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}