body{
    background-color: #021740;
    color: white;
}
a{
    color: white;
    left: 50px;
}
.waka1{
    background-image:url(Pantherwakanda1.png);
}
.waka2,.waka3,.waka4,.waka5,.waka6{
    display: flex;
}
